# Initialisation configuration for OpenTelemetry Collector
receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318
exporters:
  # NOTE: Prior to v0.86.0 use `logging` instead of `debug`.
  otlphttp/logs:
    endpoint: "http://loki:3100/otlp"
    tls:
        insecure: true
  debug:
    verbosity: detailed

# Define pipelines for traces, metrics, and logs
service:
  pipelines:
    logs:
      receivers: [otlp]
      exporters: [otlphttp/logs]
